app-ws-avam-sink/src/main/resources/schema/EgovToAVAM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           targetNamespace="http://valueobjects.common.avam.bit.admin.ch"
           xmlns:tns="http://valueobjects.common.avam.bit.admin.ch"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--
        Credentials
    -->
    <xs:complexType name="WSCredentials">
        <xs:sequence>
            <xs:element name="username" nillable="false" type="xs:string"/>
            <xs:element name="password" nillable="false" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!--
        OsteEgov einfügen in AVAM
    -->
    <xs:complexType name="T_OsteEgov">
        <xs:sequence>
            <xs:element name="abSofort" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="abmeldeDatum" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="abmeldeGrundCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="alterBis" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="alterVon" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="angabenAlter" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="anmeldeDatum" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="arbeitsamtBereich" nillable="false">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="5" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="arbeitsformCodeList" nillable="true" type="tns:WSArbeitsformArray"/>
            <xs:element name="arbeitsOrtGemeinde" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="arbeitsOrtText" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="arbeitsOrtPlz" nillable="false">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="arbeitsOrtOrt" nillable="false">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="arbeitsOrtLand" nillable="false">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="arbeitzeitStd" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="behindert" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="beschreibung" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10000" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bewerElektronisch" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="bewerPersoenlich" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="bewerSchriftlich" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="bewerTelefonisch" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="bewerAngaben" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bezeichnung" nillable="false">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bq1AusbildungCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bq1AvamBerufNr" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bq1AvamBeruf" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bq1ErfahrungCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bq1QualifikationCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bq1VerwandteBerufe" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="bq2AusbildungCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bq2AvamBeruf" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bq2ErfahrungCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bq2QualifikationCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bq2VerwandteBerufe" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="bq3AusbildungCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bq3AvamBeruf" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bq3ErfahrungCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bq3QualifikationCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bq3VerwandteBerufe" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="detailangabenCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="euresAnonym" nillable="false" type="xs:boolean"/>
            <xs:element name="eures" nillable="false" type="xs:boolean"/>
            <xs:element name="geschlechtCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="gleicheOste" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="3" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="gueltigkeit" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="jobSharing" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="kategorieCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kpAnredeCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kpEmail" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kpName" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kpTelefonNr" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kpVorname" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lohnMax" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="19" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lohnMin" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="19" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element name="lohnartCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="pensumBis" nillable="true" type="xs:short" minOccurs="0"/>
            <xs:element name="pensumVon" nillable="true" type="xs:short" minOccurs="0"/>
            <xs:element name="privFahrzeug" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="sk1Aufenthalt" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="sk1MuendlichCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sk1Muttersprache" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="sk1SchriftlichCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sk1SpracheCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sk2Aufenthalt" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="sk2MuendlichCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sk2Muttersprache" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="sk2SchriftlichCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sk2SpracheCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sk3Aufenthalt" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="sk3MuendlichCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sk3Muttersprache" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="sk3SchriftlichCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sk3SpracheCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sk4Aufenthalt" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="sk4MuendlichCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sk4Muttersprache" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="sk4SchriftlichCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sk4SpracheCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sk5Aufenthalt" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="sk5MuendlichCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sk5Muttersprache" nillable="true" type="xs:boolean" minOccurs="0"/>
            <xs:element name="sk5SchriftlichCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sk5SpracheCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sprachenBemerkungen" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="stellenantritt" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="stellennummerAvam" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="11" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="stellennummerEgov" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="11" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="fristTyp" type="xs:string"/>
            <xs:element name="untHausNr" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="untLand" nillable="false">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="untName" nillable="false">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="untOrt" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="untPlz" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="untPostfach" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="untPostfachOrt" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="untPostfachPlz" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="untStrasse" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="60" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bewerUntTelefon" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bewerUntEmail" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bewerUntUrl" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bewerUntName" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bewerUntStrasse" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="60" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bewerUntHausNr" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bewerUntPlz" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bewerUntOrt" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bewerUntPostfach" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bewerUntPostfachPlz" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bewerUntPostfachOrt" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bewerUntLand" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="vertragsdauer" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="waehrungCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="anonym" nillable="false" type="xs:boolean"/>
            <xs:element name="publikation" nillable="false" type="xs:boolean"/>
            <xs:element name="loginAnonym" nillable="false" type="xs:boolean"/>
            <xs:element name="loginPublikation" nillable="false" type="xs:boolean"/>
            <xs:element name="quelleCode" nillable="false">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="meldepflicht" nillable="false" type="xs:boolean" />
            <xs:element name="sperrfrist" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="auftraggeber" nillable="false" type="xs:boolean"/>
            <xs:element name="auftraggeberName" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="auftraggeberPlz" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="auftraggeberOrt" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="auftraggeberLand" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kpFragenAnredeCode" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kpFragenName" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kpFragenVorname" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kpFragenEmail" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="kpFragenTelefonNr" nillable="true">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="nachVereinbarung" nillable="true" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="WSArbeitsform">
        <xs:sequence>
            <xs:element name="arbeitsformCode" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WSArbeitsformArray">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WSArbeitsformArrayItem" type="tns:WSArbeitsform"/>
        </xs:sequence>
    </xs:complexType>


    <!--
    Codes abfragen in AVAM
    -->
    <xs:complexType name="T_Code">
        <xs:sequence>
            <xs:element name="domain" type="xs:string"/>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="kurztextDe" type="xs:string"/>
            <xs:element name="kurztextFr" type="xs:string"/>
            <xs:element name="kurztextIt" type="xs:string"/>
            <xs:element name="textDe" type="xs:string"/>
            <xs:element name="textFr" type="xs:string"/>
            <xs:element name="textIt" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="T_CodeArray">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="T_CodeArrayItem" type="tns:T_Code"/>
        </xs:sequence>
    </xs:complexType>


    <!--
        RAV-Adressen abfragen
    -->
    <xs:complexType name="WSRavAdresse">
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="nameDE" type="xs:string"/>
            <xs:element name="nameFR" type="xs:string"/>
            <xs:element name="nameIT" type="xs:string"/>
            <xs:element name="strasseDE" type="xs:string"/>
            <xs:element name="strasseFR" type="xs:string"/>
            <xs:element name="strasseIT" type="xs:string"/>
            <xs:element name="hausNr" type="xs:string"/>
            <xs:element name="plz" type="xs:string"/>
            <xs:element name="ortDE" type="xs:string"/>
            <xs:element name="ortFR" type="xs:string"/>
            <xs:element name="ortIT" type="xs:string"/>
            <xs:element name="leiter" type="xs:string"/>
            <xs:element name="telefon" type="xs:string"/>
            <xs:element name="fax" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="arbeitsspracheCode" type="xs:string"/>
            <xs:element name="adressTypCode" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WSRavAdresseArray">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WSRavAdresseArrayItem" type="tns:WSRavAdresse"/>
        </xs:sequence>
    </xs:complexType>

    <!--
        RAV-Sachbearbeiter abfragen
    -->
    <xs:complexType name="WSFunktion">
        <xs:sequence>
            <xs:element name="funktionCode" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WSFunktionArray">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WSFunktionArrayItem" type="tns:WSFunktion"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WSArbeitsamtbereich">
        <xs:sequence>
            <xs:element name="arbeitsamtBereich" type="xs:string"/>
            <xs:element name="bueroNummer" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="telefon" type="xs:string"/>
            <xs:element name="mobil" type="xs:string"/>
            <xs:element name="fax" type="xs:string"/>
            <xs:element name="benutzerDetailId" type="xs:integer"/>
            <xs:element name="funktionen" type="tns:WSFunktionArray"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WSArbeitsamtbereichArray">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WSArbeitsamtbereichArrayItem" type="tns:WSArbeitsamtbereich"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WSRavSachbearbeiter">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="vorname" type="xs:string"/>
            <xs:element name="benutzerId" type="xs:string"/>
            <xs:element name="spracheCode" type="xs:string"/>
            <xs:element name="geschlechtCode" type="xs:string"/>
            <xs:element name="arbeitsamtBereiche" type="tns:WSArbeitsamtbereichArray"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WSRavSachbearbeiterArray">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WSRavSachbearbeiterArrayItem" type="tns:WSRavSachbearbeiter"/>
        </xs:sequence>
    </xs:complexType>

    <!--
        Nachrichten Objekte
    -->
    <xs:element name="deliverOste">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="credentials" nillable="false" type="tns:WSCredentials"/>
                <xs:element name="oste" nillable="true" type="tns:T_OsteEgov"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deliverOsteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element form="qualified" name="deliverOsteReturn" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCode">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="credentials" nillable="false" type="tns:WSCredentials"/>
                <xs:element name="domain" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCodeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element form="qualified" name="codeReturn" nillable="true" type="tns:T_CodeArray"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getRavAdressen">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="credentials" nillable="false" type="tns:WSCredentials"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getRavAdressenResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element form="qualified" name="ravAdressenReturn" nillable="true" type="tns:WSRavAdresseArray"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getRavSachbearbeiter">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="credentials" nillable="false" type="tns:WSCredentials"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getRavSachbearbeiterResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element form="qualified" name="ravSachbearbeiterReturn" nillable="true" type="tns:WSRavSachbearbeiterArray"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>